/*  your css code here. If applicable */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 25px;
    height: 25px;
    background: #1d1d1d;
    margin: 2px;
    transition: background 1s ease-in-out;
}
